body{
    background-color: rgb(0,17,34);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
h1{
    margin-top: 70px;
}
#tile-container{
    /* width: 500px;
    height: 500px; */
    display:grid;
    /* grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(4,100px); */
    gap: 10px;
    /* background-color: bisque; */
    margin: 20px;
   
}


#start-container{
   
    width: 400px;
    height: 400px;
    display: flex;
    /* margin-top: 100px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    /* background-color: aqua; */
    border: 2px solid grey;
    border-radius: 50%;
    box-shadow: 0px 0px 15px white;
}
h1{
    text-align: center;
    font-size: 50px;
}
.gbutton{
    width: 40px;
    height: 30px;
    margin: 5px;
}

#grid-button{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 80px; */
    padding: 20px;
}
#start-btn{
    width: 90px;
    height: 50px;
    border-radius: 30px;
    

}
#main-container{
    display: none;
    /* width: 500px;
    height: 500px; */
    /* background-color: rgb(27, 206, 206); */
    /* padding: 20px; */
    border: 2px solid grey;
    border-radius: 30px;
    box-shadow: 0px 0px 15px white;


    
}

.tile{
    width: 100px;
    height: 100px;
    background-color: black;
    border: 2px solid grey;
}
h2{
    padding: 2px;
}
#mov-div{
    display: flex;
    /* background-color: aqua; */
   
    justify-content: center;
    /* align-items: center; */
}